<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre Nosotros</h6>
                <p class="text-justify">Larrusohome.some.com <i>INOVACION EN CUALQUIER LUGAR</i> Somos una empresa mexicana dedicada a la creación de oportunidades laborales, enfocada principalmente en el estado de Yucatán.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Facebook's</h6>
                <ul class="footer-links">
                    <li><a href="https://www.facebook.com/joel.muniz.98434997">Fabián Rivero</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100057486705795">Cristian Hernandéz</a></li>
                    <li><a href="https://www.facebook.com/joel.muniz.98434997">Joel Muñiz</a></li>
                    <li><a href="https://www.facebook.com/jesus.estrella.7549">Iván Estrella</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Instagram's'</h6>
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/fabian_ucan/?hl=es-la">Fabián Rivero</a></li>
                    <li><a href="https://www.instagram.com/cristian180702/?hl=es-la">Cristian Hernandéz</a></li>
                    <li><a href="https://www.instagram.com/joel_muniz18/?hl=es-la">Joel Muñiz</a></li>
                    <li><a href="https://www.instagram.com/jesus_estrella17/?hl=es-la">Iván Estrella</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright © 2022 All Rights Reserved by
                    <a href="#">Scanfcode</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <h6 class="Contactanos">Contactanos</h6>
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
@code {

}
