@page "/mensajes/delete/{id:int}"

@using LarrussoWorksBlazor.Data.Models
@using LarrussoWorksBlazor.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager NavigationManager;

<h1>¿Está seguro que desea borrar el Mensaje?</h1>

<button class="btn btn-outline-success" @onclick="ConfirmarEliminacion">Confirmar</button>
<a class="btn btn-outline-danger" href="/mensajes">Cancelar</a>

@code
{
    [Parameter]

    public int id { get; set; }

    Mensaje mensaje;

    protected override async Task OnInitializedAsync()
    {
        mensaje = await http.GetFromJsonAsync<Mensaje>($"api/Mensaje/{id}");
    }

    protected async Task ConfirmarEliminacion()
    {
        var response = await http.DeleteAsync($"api/Mensaje/EliminarMensajes/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/mensajes");
        }
    }
}
