@page "/contactanos/delete/{id:int}"

@using LarrussoWorksBlazor.Data.Models
@using LarrussoWorksBlazor.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager NavigationManager;

<h1>¿Está seguro que desea borrar el Contactanos?</h1>

<button class="btn btn-outline-success" @onclick="ConfirmarEliminacion">Confirmar</button>
<a class="btn btn-outline-danger" href="/contactanos">Cancelar</a>

@code 
{ 
    [Parameter]

    public int id { get; set; }

    Contactano contactano;

    protected override async Task OnInitializedAsync()
    {
        contactano = await http.GetFromJsonAsync<Contactano>($"api/Contacto/{id}");
    }

    protected async Task ConfirmarEliminacion()
    {
        var response = await http.DeleteAsync($"api/Contacto/EliminarContactanos/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/contactanos");
        }
    }
}